@import url("lib/bootstrap/css/bootstrap.min.css");

textarea {
    min-height: 5rem;
}
main.container[role=main] {
    margin-top: 3rem;
}
main.container-fluid[role=main] {
    margin-top: 1rem;
}
textarea#output {
    width: 100%;
    font-family: monospace;
}
textarea.code {
    font-family: monospace;
}

pre.code-content,
pre.code-content code,
code.code-content {
    height: calc(max(200px, 100vh - 200px));
}

tr.fullwid td textarea,
tr.fullwid th textarea {
    width: 100%;
}

.flow {
    display: flex;
    flex-direction: row;
}
.flow div,
.flow button {
    margin-right: 3rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.align-items-start {
    align-items: flex-start !important;
}

.container-table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.container-table .row {
    padding: 0.5rem 0;
    border-bottom: 1px solid #dee2e6;
}

@media screen and (max-width: 991px) {
    .col.is-full-mobile {
        flex: none;
        width: 100%;
    }
}
@media screen and (min-width: 992px), print {
    .col.is-half, .col.is-half-tablet {
        flex: none;
        width: 50%;
    }
}
@media screen and (min-width: 992px), print {
    .col.is-30, .col.is-30-tablet {
        flex: none;
        width: 30%;
    }
}
@media screen and (min-width: 992px), print {
    .col.is-40, .col.is-40-tablet {
        flex: none;
        width: 40%;
    }
}
@media screen and (min-width: 992px), print {
    .col.is-50, .col.is-50-tablet {
        flex: none;
        width: 50%;
    }
}
@media screen and (min-width: 992px), print {
    .col.is-60, .col.is-60-tablet {
        flex: none;
        width: 60%;
    }
}